<main {{#if (isNumber answersCount)}} onclick="location.href = '/question/{{data.id}}'" {{/if}}>

    <div class="entryContainer">
        {{#if user.doctorCer}}
        <img class="smallicon" src="/res/icon-doctor.png">
        {{else}}
        <img class="smallicon" src="/res/icon-patient.png">
        {{/if}}
        <div class="entryNameQuestion">
            <span id="askerName">{{#if user.doctorCer}}Dr.{{/if}} {{data.first_name}} {{data.last_name}}</span>
            <span id="askedQuestion">{{data.context}}</span>
        </div>
    </div>
    <div>

        {{#if (isNumber answersCount) }}
        <span id="">{{answersCount}} answers... </span>
        {{/if}}

        <span id="">{{getPostTime data.post_time_milliseconds }} </span>
    </div>
</main>